* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

body {
    background-color: gray;
}

/* - - - - - - - - - - - - - - - - - - */

/* HEADER */
header {
    display: flex;
    
    height: 60px;

    background-color: black;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}


.header-left {
    flex: 1 1 50%;
    justify-content: flex-start;
    padding-left: 20px;
}

.header-right {
    justify-content: flex-end;

    padding-right: 20px;
}

.header-left .logo {
    color: red;
    font-size: 2rem;
    font-weight: 700;
}

.header-right .search-input {
    padding: 5px;
    margin-right: 10px;
}

.header-right .search-button {
    display: flex;
    flex-wrap: nowrap;

    padding: 5px;
}

.header-right .search-button .search-text-button {
    padding-right: 10px;
}

/* - - - - - - - - - - - - - - - - - - */

/* MAIN */
main .container{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.box {
    flex-shrink: 1;

    width: 20%;
}

img.language-flag {
    width: 30px;
}

/* film rating */
.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;

    overflow: hidden;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 200;
    color: rgb(255, 217, 0);
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: rgb(255, 217, 0);
}

